<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">



<div class="row">
    <div class="col-11" style="position: center">
        <li class="list-group-item">@<%= photo.author.username%></li>
        <div id="campgroundCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% photo.images.forEach((img, i) => {  %>
                <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                    <img src="<%= img.url%>" class="d-block w-100" alt="">
                </div>
                <% }) %>

            </div>
            <% if(photo.images.length > 1) {%>
            <a class="carousel-control-prev" href="#campgroundCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#campgroundCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <% } %>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text"><%= photo.description%></p>
            </div>
            <ul class="list-group list-group-flush">

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <form action="/photo/<%=photo._id%>/like" method="GET">
                            <button class="btn btn-sm btn-secondary">
                                <i class="fas fa-thumbs-up" aria-hidden="true"></i> Like
                            </button>
                        </form>

                    </div>
                    <small style="text-align: right" id="liked-users" class="text-muted" data-toggle="modal" data-target="#campgroundLikes5d17a4481465145164336ec2">
                        <%if(photo.like > 1){%>
                            <li class="list-group-item">(<%= photo.like%>) Likes</li>
                        <%}else{%>
                            <li class="list-group-item"><%= photo.like || "No"%> Like</li>
                        <%}%></small>


                </div>


            </ul>
            <%  if( currentUser && photo.author.equals(currentUser._id))  {%>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/photo/<%=photo._id%>/edit">Edit</a>
                <form class="d-inline" action="/photo/<%=photo._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            <div class="card-footer text-muted">
                <li><%=photo.date%></li>

            </div>
        </div>

    </div>

        <% if(currentUser){ %>
        <h2>Leave a Review</h2>
        <form action="/photo/<%=photo._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>


            <div class="mb-3">
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } %>
        <% for(let review of photo.reviews) { %>
        <div class="card mb-3 ">
            <div class="card-body">
                <h5 class="card-title"> <%= review.author.username%></h5>

                <!-- <h6 class="card-subtitle mb-2 text-muted">By <%= review.author.username%></h6> -->
                <p class="card-text">Review: <%= review.body %></p>
                <%  if( currentUser && review.author.equals(currentUser._id))  {%>
                <form action="/photo/<%=photo._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>

<script>
    const photo = <%- JSON.stringify(photo) %>
</script>

<script src="/javascripts/showPageMap.js"></script>